*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(#f00000,#DC281E);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    cursor: pointer;
    background-color: #73E831;
}
ul{
    list-style-type: none;
}
.container{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h2{
    color: #fff;
    font-size: 3em;
}
.todo-form{
    margin: 40px 0px;
}
#myInput{
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}   
.addBtn{
    background-color: #0000ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
}
#myUL{
    min-width: 350px;
}
.checked{
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
    text-decoration: line-through;
}
#item-first{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#item-last{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#clear-list{
    float: right;
    background-color: #dc143c;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    font-size: 1.1rem;
    font-weight: 550;
}