*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    height: 500px;
    align-items: flex-end;
}
.flexcontainer1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flexitem1{
    padding-top: 0%;
    border: 5px, solid, black ;
    width: 31%;
    height: 200px;
    border-radius: 5px;
}
#item11{
    background-color: aqua;
}
#item12{
    background-color: tomato;
}
#item13{
    background-color: darkseagreen;
}
.flexcontainer2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flexitem2{
    padding-top: 0%;
    border: 5px, solid, black ;
    width: 23%;
    height: 50px;
    border-radius: 5px;
}
#item21{
    background-color: aqua;
}
#item22{
    background-color: tomato;
}
#item23{
    background-color: darkseagreen;
}
#item24{
    background-color: darkorchid;
}
.flexcontainer3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flexitem3{
    padding-top: 0%;
    border: 5px, solid, black ;
    width: 18%;
    height: 25px;
    border-radius: 5px;
}
#item31{
    background-color: aqua;
}
#item32{
    background-color: tomato;
}
#item33{
    background-color: darkseagreen;
}
#item34{
    background-color: darkorchid;
}
#item35{
    background-color: chocolate;
}
.flexcontainerA{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flexitemA{
    padding-top: 0%;
    border: 5px, solid, black ;
    width: 31%;
    height: 50px;
    border-radius: 5px;
}
#itemA1{
    background-color: rgb(168, 235, 235);
}
#itemA2{
    background-color: tomato;
}
#itemA3{
    background-color: darkseagreen;
}
.flexcontainerB{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flexitemB{
    padding-top: 0%;
    border: 5px, solid, black ;
    width: 23%;
    height: 43px;
    border-radius: 5px;
}
#itemB1{
    background-color: rgb(168, 235, 235);
}
#itemB2{
    background-color: tomato;
}
#itemB3{
    background-color: darkseagreen;
}
#itemB4{
    background-color: darkorchid;
}
.flexcontainerC{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flexitemC{
    padding-top: 0%;
    border: 5px, solid, black ;
    width: 18%;
    height: 35px;
    border-radius: 5px;
    align-items: flex-end;
}
#itemC1{
    background-color: rgb(168, 235, 235);
}
#itemC2{
    background-color: tomato;
}
#itemC3{
    background-color: darkseagreen;
}
#itemC4{
    background-color: darkorchid;
}
#itemC5{
    background-color: chocolate;
}